body{
    background-color: black;
    margin: 0;
}
.Parent {
    display: flex;
    width: 50%;
    
  }
  
  .left-child {
    flex: 1;
    border: 2px;
    margin: 10px;
    width: 900px;
    background-color: black;
    
  }
  
  .right-child:left-child {
    border: 2px;
    
  }

  